* {
    font-family: 'PT Sans', sans-serif;
}

.home {
    min-height: 100vh;
    overflow: auto;
    position: relative;
    background-color: #fcdb00;
    background-size: cover;
    padding-left: 80px;
    padding-right: 80px;
}

.features {
    overflow: hidden;
    min-height: 100vh;
    padding-left: 8rem;
    padding-right: 6rem;

}

.footer {
    overflow: hidden;
    min-height: 100vh;
    background-color: black;
    padding-left: 10rem;
    padding-right:7rem;

}

.clear {
    clear: both;
}
