* {
    font-family: 'PT Sans', sans-serif;
}

.home {
    min-height: 100vh;
    overflow: auto;
    position: relative;
    background-color: #fcdb00;
    background-size: cover;
    padding-left: 80px;
    padding-right: 80px;
}

.features {
    background-color: white;
    min-height: 100vh;
    padding-left: 18rem;
    padding-right: 18rem;
}

.footer {
    background-color: black;
    min-height: 100vh;
    padding-left: 18rem;
    padding-right: 18rem;

}

.clear {
    clear: both;
}
