.row{
    padding-top: 2.0rem;
    font-size: 180%;

}

.home-links{
  list-style: none;
  float: right;

}

.logo{
 margin-right: 5px; 
 
}

.home-links li{
    margin:0 25px 0;
    display: inline-block;
}

.home-links a{
color :black;
}